<h1>WELCOME</h1>
  <h2>You have found the online home of Vision Of Touch Therapeutic Massage Services.<h2>
    <p>
      Here you can learn more about the therapeutic massage services provided
      by Cynthia L. Hoff, massage therapist. Feel free to click on any of the
      links found on the left to learn more about the types of services we provide.
      In addition, you can find information regarding our hours of operation, office
      location as well as detailed information regarding the types of massage services
      we offer.
    </p>
    <br>
    <p>
      Thank you for taking the time to visit VisionOfTouch.com, if you would like to
      contact us for additional information or to schedule an appointment please feel
      free to contact us.
    </p>
