<h1>Vision of Touch</h1>
  <h2>OPENING HOURS</h2>
    <p> Our services are provided by appointment only in
accordance to the following schedule:
Mon-Thurs  8:00 a.m. - 7:00 p.m.

fri-Sat   9:00 a.m. - 3:00 p.m.
